Minio:
  endpoint:
  ak: 0PQQEKLJUkEGW1RElDdY
  sk: sDOxEMtwTPxuygFv1A8PWhPBqwyAlcNtBs7omixW
  bucket: obsidian
  dir: cv

CogView:
  api:
  token: 
  model: 
  origin: cogview-v1

RabbitMQ:
  endpoint:
  user:
  passwd:
  vhost: web
  exchange: logs
  exchangeType: direct
  routeKey: shp.log
